{%extends "base.html"%}
{%block content%}
    <div class="row">
        <div class="span12">
            <h2 style="display:inline">Group: {{group.name}}</h2>&nbsp;&nbsp;&nbsp;
            <a href="/group/edit?id={{group.id}}"><i class="icon-pencil" onmouseover="onMouseOver('group', 'edit')" onmouseout="onMouseOut('group', 'edit')"></i></a>
            <span class="group-edit-text">Edit group</span>
            <a href="#"><i class="icon-trash" onmouseover="onMouseOver('group', 'remove')" onmouseout="onMouseOut('group', 'remove')"></i></a>
            <span class="group-remove-text">Remove group</span>
            {%if students%}
                {%include "students_list.html"%}
            {%else%}
                <p>The group is empty</p>
            {%endif%}
        </div>
    </div>
{%endblock%}