<div class="row">
    <div class="span12">
        <h2 style="display: inline;">List of groups</h2>&nbsp;&nbsp;&nbsp;
            <a href="/group/add"><i class="icon-plus" onmouseover="onMouseOver('group', 'add')" onmouseout="onMouseOut('group', 'add')"></i></a>
            <span class="group-add-text">Add group</span>
        <table width="60%" id="groups-list" class="table table-striped table-bordered">
            <thead>
                <th>Group Name</th>
                <th>Number of students</th>
                <th>Senior</th>
            </thead>
            <tbody>
                {%for group in groups%}
                    <tr>
                        <td><a href="/group/{{group.id}}">{{group.name}}</a></td>
                        <td>{{group.studentsNum}}</td>
                        <td>{{group.seniorId.lastName}} {{group.seniorId.firstName}} {{group.seniorId.middleName}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
