<script type="text/javascript">
    function changeHref(studentId){
        $('#student-delete-request .btn-primary')[0].setAttribute('href', "/student/delete?id="+studentId);
    }
</script>

<div class="modal fade" id="student-delete-request">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete this student?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Delete</a>
        <a class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>