.table td {
    /*width: 60%;*/
    vertical-align: middle;
    text-align: center;
}

.edit-text, .add-text {
    font: normal 8pt verdana,serif;
    color: gray;
    display: none;
}

.field {
	font: bold 12px verdana,serif;
}

.value {
	font: normal 12px verdana,serif;
}

.clr:after {
	content: ".";
 	display: block;
 	height: 0;
 	font-size: 0;
 	line-height: 0;
 	overflow: hidden;
 	clear: both;
 	visibility: hidden;
}